bs4
colorama
colour
configparser
cvclient>=0.2
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
graphiend>=0.3
mttkinter
numpy
pathlib
Pillow
pyautogui
pyscreenshot
requests
Rpi.GPIO
smbus2
future
setuptools
beautifulsoup4
mergedeep